h3 Portfolio
each item in contents['portfolio.json'].metadata     
  h5= item.title
  div.row
    div.three.columns
      img(src='images/' + item.image style="border:0")
    div.seven.columns
      = item.description